/* teman */
main{
    background-color: darkorange;
}

/* foter teman*/
footer{
    background-color: #0ab8e8;
}
/* Footer styling */
footer {
    background-color: #07c9e3;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Jarak antara logo dan teks */
}

.footer-logo {
    
    width: 80px; /* Atur ukuran logo agar proporsional */
    height: auto;
}

.footer-content p {
    margin: 0;
    font-size: 20px; /* Ukuran teks dalam footer */
    color: #333;
}